body {
  background-color:  #D3D3D3;
}

#header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

#visualisations {
  background-color: white;
  margin: auto;
  width: 80%;
  height: 100%
}
#multi_view {
  margin: auto;
  width: auto;
}

#chloropleth_production {
	top:100px;
	bottom: 100px;
	left: 100px;
	right: 100px;
}

#chloropleth_consumption {
	top:100px;
	bottom: 100px;
	left: 100px;
	right: 100px;
}

#chloropleth_time_slider {
	top:100px;
	bottom: 100px;
	left: 100px;
	right: 100px;
}

#bar_chart {
	top:100px;
	bottom: 100px;
	left: 100px;
	right: 100px;
}
